img {
  margin: 180px auto 10px auto;
}

#sectxt {
  max-width: 95%;
}

.secondary {
  height: auto;
}

.secondary h5 {
  text-align: left;
}

.secondary p {
  text-align: justify;
}

.thirdary h4{
  text-align: left;
  padding-top: 80px;
  height: auto;
}

.thirdary p {
  text-align: justify;
}
