
/*LANDING*/
#landing {
  margin: 0;
  border-radius: 0;
}
.jumbotron {
	border-radius: 0px;
	margin-bottom: 0px;
	background-image: url("mnt2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
}

.jumbotron h1 {
	color: white;
	font-family: 'Merriweather', serif;
	text-align: center;
	letter-spacing: 10px;
}

.jumbotron p {
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

.jumbotron a {
	color: white;
	background-color: #17172E;
	padding: 10px 20px;
	margin-top: 40px;
}

.jumbotron a:hover {
	color: white;
	text-decoration: none;
	background-color: #3B3C74;
}

.jumbotron a:selected {
	background-color: #3B3C74;
}

img {
	display: block;
	margin: 220px auto 10px auto;
	max-width: 300px;
	max-height: 300px;
}


/*SECONDARY*/
.secondary {
	background-color: #212041;
	height: auto;
}

.secondary h5 {
  color: white;
  font-family: 'Merriweather', serif;
  text-align: justify;
  letter-spacing: 1px;
  padding-top: 30px;
}

.secondary p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  padding-bottom: 30px;
}

#sectxt {
  max-width: 33%;
  margin: auto;
}

/*THIRDARY*/
.thirdary {
  background-color: #20222E;
  height: auto;
}

.thirdary h4{
  color: white;
  font-family: 'Merriweather', serif;
  text-align: justify;
  padding-top: 30px;
}


.thirdary p {
	color: white;
	font-family: 'Quicksand', sans-serif;
	text-align: justify;
	padding-bottom: 30px;
}
