
/*LANDING*/
.jumbotron {
	border-radius: 0px;
	background-image: url("mnt2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
}

.jumbotron h1 {
	color: white;
	font-family: 'Merriweather', serif;
	text-align: center;
}

.jumbotron p {
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

.jumbotron a {
	color: white;
	background-color: #17172E;
	padding: 10px 20px;
	margin-top: 40px;
}

.jumbotron a:hover {
	color: white;
	text-decoration: none;
}

img {
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 50px;
	max-height: 50px;
	margin-top: 280px;
}


/*SECONDARY*/
#secondary {
	background-color: #6465C1;
}
	
